<head>
  <title>Supastro</title>
  <meta name="viewport" content="width=device-width" />
</head>

<body class="flex h-screen w-screen flex-col items-center justify-center">
  <h1 class="mb-8 text-center text-8xl font-bold">Supastro</h1>
  <a
    href="/parties"
    class="inline-flex items-center justify-center whitespace-nowrap rounded-base border-[3px] border-border bg-main px-6 py-3 text-2xl font-base text-text shadow-light ring-offset-white transition-all hover:translate-x-boxShadowX hover:translate-y-boxShadowY hover:shadow-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
  >
    Play
  </a>
</body>
